<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Manager Approval Page</title>
<th:block th:include="fragments/layout"></th:block>
</head>
<body>
	<h3 th:utext="#{title.courseDetailsHistory}">Course History</h3>

	<table>
		<tr>
			<th align="right"><span th:text="#{fieldLabel.courseId}">Course
					ID</span></th>
			<td colspan="3" th:text="${course.courseId}">Id</td>
		</tr>
		<tr>
			<th align="right"><span th:text="fieldLabel.courseName">Course
					Name</span></th>
			<td colspan="3" th:text="${course.courseName}">Name</td>
		</tr>
		<tr>
			<th align="right"><span th:text="#{fieldLabel.organiser}">Organiser</span>
			</th>
			<td colspan="3" th:text="${course.organiser}">Organiser</td>
		</tr>
		<tr>
			<th align="right"><span th:text="#{fieldLabel.startDate}">Start
					Date</span></th>
			<td th:text="${#dates.format(course.fromDate, 'dd-MMM-yyyy')}">
				From Date</td>
			<th align="right"><span th:text="#{fieldLabel.endDate}">End
					Date</span></th>
			<td th:text="${#dates.format(course.toDate, 'dd-MMM-yyyy')}">To
				Date</td>
		</tr>
		<tr>
			<th align="right"><span th:text="#{fieldLabel.fees}">Fees</span>
			</th>
			<td th:text="${course.fees}">Fees</td>
			<th align="right"><span th:text="#{fieldLabel.gstIncluded}">GST
					Included</span></th>
			<td th:if="${course.gstIncluded}" th:text="#{caption.yes}"></td>
		</tr>
		<tr>
			<th align="right"><span th:text="#{fieldLabel.justification}">Justification</span>
			</th>
			<td colspan="3" th:text="${course.justification}">Justification</td>
		</tr>
		<tr>
			<th align="right"><span th:text="#{fieldLabel.status}">Status</span>
			</th>
			<td colspan="3" th:text="${course.status}">Status</td>
		</tr>
	</table>


	<form action="#" th:action="@{'/manager/course/edit/'+course.courseId}"
		th:object="${approve}" method="post">
		<table>
			<tr>
				<td><form:radiobutton path="decision" value="APPROVED"
						id="decision" /> <spring:message code="caption.approve" />
					&nbsp;&nbsp; <form:radiobutton path="decision" value="REJECTED"
						id="decision" /> <spring:message code="caption.reject" /></td>
			</tr>
			<tr>
				<td><span th:text="#{fieldLabel.managerComment}">Manager
						Comment</span> <br> <textarea rows="4" cols="60"
						th:field="*{comment}"> Text Area</textarea></td>
			</tr>
			<tr>
				<td><input type="submit" value="Update" class="blcass" /></td>

			</tr>
		</table>

	</form>
</body>
</html>