<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Manager Approval Page</title>
<th:block th:include="fragments/layout"></th:block>
</head>
<body>

	<h2>Subordinates Course History Page</h2>

	<div th:if="${not #lists.isEmpty(submap)}">

		<table>
			<tr class="listRecord" th:each="subordinate : ${submap}">
				<td>
					<h3>${subordinate.key.name}Course History</h3>
					<table style="cellspacing: 2; cellpadding: 2; border: 1;">
						<tr class="listHeading">
							<th th:utext="#{fieldLabel.reference}">Reference</th>
							<th th:utext="#{fieldLabel.name}">Name</th>
							<th th:utext="#{fieldLabel.courseName}">Course</th>
							<th th:utext="#{fieldLabel.startDate}">Start</th>
							<th th:utext="#{fieldLabel.endDate}">End</th>
							<th th:utext="#{fieldLabel.fees}">Fees</th>
							<th th:utext="#{fieldLabel.status}">Status</th>
						</tr>
						<tr class="listRecord" th:each="course : ${subordinate.value}">
							<td>${course.courseId}</td>
							<td>${course.employeeId}</td>
							<td>${course.courseName}</td>
							<td>${course.fromDate}</td>
							<td>${course.toDate}</td>
							<td>${course.fees}</td>
							<td>${course.status}</td>
						</tr>

					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>