<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>New User Page</title>
<th:block th:include="fragments/header"></th:block>
</head>
<body>
		<h3>Edit User page</h3>
	<form action="#" th:action="@{'/admin/user/create'}"
		th:object="${user}" method="post">
		<table>
			<tbody>

				<tr>
					<td><span th:text="#{fieldLabel.userId}"></span></td>
					<td><input type="text" th:field="*{userId}" /></td>
					<td th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.username}"></span></td>
					<td><input type="text" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.password}"></span></td>
					<td><input type="text" th:field="*{password}" /></td>
					<td th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}"></td>
				</tr>
				<tr>
					<td><label
						th:for="${#fieldLabel.employeeId.next('employeeId')}">Emp</label></td>
					<td><select th:field="*{employeeId}">
							<option th:each="selectOption : ${eidlist}"
								th:value="${selectOption}"
								th:text="#{${'selectOption.' + selectOption}}">
								selectOption</option>
					</select></td>
					<td th:if="${#fields.hasErrors('employeeId')}"
						th:errors="*{employeeId}"></td>
				</tr>

				<tr>
					<td><input type="submit" value="Create" /></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		</form>
</body>
</html>